.hero-video-container#hero-video-container
  %iframe#hero-video{ src: "", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", frameborder: "0", allowfullscreen: "1" }

.blank-header.commit-header{style: "background: url('https://gitlab.com/gitlab-com/sales-team/field-operations/enablement/uploads/6218b0ab4854ed6d3e590793cd90456f/gitlab-sales-kickoff-2021-teaser-animation-01.gif') center 20% no-repeat; background-size: cover;"}
  .header-content
    %h1 GitLab Sales Kick Off
    %h3 Peak Performance!
  %p.alert.alert-gitlab-purple.text-center
    %i.fab.fa-gitlab.fa-fw{ style: "color:rgb(252,109,38); font-size:.85em" }
    Counting down to February 8th, 2021!
    %i.fab.fa-gitlab.fa-fw{ style: "color:rgb(252,109,38); font-size:.85em" }
    %br
    %span.h3#nextSummitCountdown
