---
layout: handbook-page-toc
title: "Engineering Productivity Career Framework"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Engineering Productivity Career Framework

<%= partial("handbook/engineering/career-development/matrix/engineering/quality/engineering-productivity/ep_career_matrix_nav.erb") %>

These are the expected competencies of the Backend Engineer, Engineering Productivity team members at GitLab.

### Intermediate

* [Backend Engineer](/handbook/engineering/career-development/matrix/engineering/quality/engineering-productivity/intermediate/)

### Senior

* [Backend Engineer](/handbook/engineering/career-development/matrix/engineering/quality/engineering-productivity/senior/)

### Staff

* [Backend Engineer](/handbook/engineering/career-development/matrix/engineering/quality/engineering-productivity/staff/)
