/******************************
VARIABLES
Please keep in alphabetical order per section
  (unless the cascade and order of operations
  requires otherwise, in which case please 
  leave a note)
******************************/

/* Animations */
$transition-primary: .2s cubic-bezier(0, 0, 0, 1);
/* Colors */
$color-accent: #e65328;
$color-accent-alt: #c93d2b;
$color-black: #000000;
$color-black333: #333333;
$color-event-black: #222222;
$color-event-blue-dark: #14125b;
$color-gray: #828282;
$color-gray-light: #aaa;
$color-gray-medium: #dddddd;
$color-gray-extra-light: #e7e7e7;
$color-gray-super-light: #f9f9f9;
$color-lt-purple-accent: #3c257b;
$color-orange-background-2020: #d57a2a;
$color-purple-dark-2020: #461189;
$color-purple-light-2020: #9b51e0;
$color-primary:#554488;
$color-primary-dark: #4a3b77;
$color-red: #f00f00;
$color-self-managed-accent: #fa7035;
$color-white: #ffffff;
/* Dimensions */
$border-radius-large: 4px;
$container-large-desktop: 1200px;
$grid-gutter-width-close: 20px;
$input-padding: 12px 18px;
$navbar-height: 58px;
$spacing-unit-xxs: 10px;
$spacing-unit-xs: 20px;
$spacing-unit-sm: 40px;
$spacing-unit-md: 60px;
$spacing-unit-lg: 80px;
$spacing-unit-xl: 120px;
$spacing-unit-xxl: 150px;
/* Other */
$box-shadow: 0 2px 4px rgba(0, 0, 0, .1);

//////////////////////////////
/* TODO: BREAK INTO SEPARATE STYLESHEETS OR REPLACE *///////////////////////////////
//////////////////////////////

/* Used by navigation */
$color-gray-extra-light-alt: #f2f2f2;
$color-transparent-alt-darken: rgba(0, 0, 0, .2);
$color-transparent-white: rgba(255, 255, 255, 0);
$color-transparent-white-alt: rgba(255, 255, 255, .75);
$just-commit-bg: #1c1635;

$border-radius-circle: 1000px;
$container-large-desktop-alt: 1240px;

$color-dark-blue: #241842;
$hero-gradient-light: #48367d;
$hero-gradient: linear-gradient(270deg, $hero-gradient-light 0%, $color-dark-blue 100%);

$color-transparent-alt: rgba(0, 0, 0, .1);
$box-shadow-large: 0 20px 40px $color-transparent-alt;

/* Used by search */
$border-color: #dfdfdf;
$search-border-color: #bcbcbc;
$search-input-font-color: #333;

/* Used by footer */
$color-primary-alt: #6b4fbb;
$color-secondary-alt: #fba225;

/* Used by "try all features free" cta block */
$blog-color-purple: rgb(107, 79, 187);
$blog-color-text: #222;

/* Used by sticky bottom trial cta */
$color-dark: #000;
$color-secondary: #e14329;
$pricing-gray-bg: #fafafa;
