.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h3.margin-top0
      Multicloud deployment
    %p
      GitLab supports application deployment anywhere, including virtual machines, Kubernetes clusters, or FaaS offerings from different cloud vendors. Whether you use Amazon Web Services, Google Cloud Platform, Microsoft Azure, or your own private cloud - GitLab is an infrastructure-agnostic DevOps that lets you deploy wherever you choose. Check out the supported application deployment targets
      %a{href: "https://about.gitlab.com/stages-devops-lifecycle/deploy-targets/"}here

  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.youtube.com/embed/R1LWQPAXFEE", :width => "500"}
